{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div>

        {% for listing in listings %}

        <div class="card">
            <a href="{% url 'listing' listing.pk %}" class="btn">

            <h4 class="card-title">{{ listing.title }} </h4>

            <h6 class="card-description"><strong>Description: </strong>{{ listing.description }} </h6>
            <h6 class="card-price"><strong>Current price: </strong> {{ listing.starting_bid }}</h6>
            <img class="card-image" src="{{ listing.image_url }}" alt="No image" style="height: 250px;">

        {% endfor %}
        </div>
    </div>
{% endblock %}