{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}

<div class="container-fluid">
    <div class="row top-row">
        <div class="col my-col-left">
            <img class="listing-image" src="{{ listing.image_url }}" alt="No image">
        </div>
        <div class="col my-col-right">
            <div class="listing-info">
            <h1 class="listing-title">{{ listing.title }}</h1>
            <p></p>
            <h5><strong>Description: </strong>{{ listing.description }}</h5>
            <h5><strong>Category: </strong>{{ listing.category }}</h5>
            <h4><strong> Price: ${{ listing.starting_bid }}</strong></h4>
            </div>
        
        {% if request.user.is_authenticated and listing.active %}
        <div class="form-group">
            <form auction="{% url 'listing' listing.pk %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input type="number" name="bid" placeholder="Bid">
                    <span class="submit-bet">
                        <input class="btn btn-block-sm btn-primary" type="submit" value="Place Bid">
                    </span>
                </div>
            </form>
        {% endif %}

        {% if messages %}
            <div class="messages">
                {% for message in messages %}

                {% if message.extra_tags == 'alert-warning' %}
                <div class="alert {{ message.extra_tags }}">
                    {{ message }}
                </div>
                {% elif message.extra_tags == 'alert-success' %}
                <div class="alert {{ message.extra_tags }}">
                    {{ message }}
                </div>
                {% elif message.extra_tags == 'alert-danger' %}
                <div class="alert {{ message.extra_tags }}">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
        {% endif %}
            </div>
            
        {% if request.user.is_authenticated and listing.active %}

            {% if on_watchlist == False  %}
                <div class="watchlist-form">
                    <form action="{% url 'listing' listing.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-success watch-button" 
                        type="submit" name="watch" value="watch">Add to Watchlist<span class="fas fa-eye"></span>
                    </button>
                    </form>
            {% else %}
                <div class="watchlist-form">
                    <form action="{% url 'listing' listing.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger watch-button" 
                        type="submit" name="watch" value="watch">Remove from Watchlist<span class="fas fa-eye"></span>
                    </button>
                    </form>
            {% endif %}
                </div>
        {% endif %}
            </div>
        </div>
    </div>

    <div class="row bottom-row">
        <div class="col my-col">
            <div class="form-group">
                <form action="{% url 'listing' listing.pk %}" method="POST">
                {% csrf_token %}
                    <textarea  class="form-control" name="comment" id="comment-text" rows="5"></textarea>
                    <button class="btn btn-block-sm btn-success comment-button" type="submit">Add Comment</button>
                </form>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}

            {% if message.extra_tags == 'comment-error' %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}

            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}