{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    <h1 id="watchlist-header">
        Your Watchlist
    </h1>
    <div class="row">  
        <div class="col-1">

        </div>
        <div class="col-10">
            {% for watchlist in watchlists  %}
            <div class="card">
                <a href="{% url 'listing' watchlist.pk %}" class="btn">    
                <h4 class="card-title">{{ watchlist.title }} </h4>
                <img class="card-image" src="{{ watchlist.image_url }}" alt="No image" style="height: 250px;">
            </div>
            {% endfor %}
        </div>
        <div class="col-1">

        </div>
    </div>
</div>
{% endblock %}